button{
  background: none;
  border: none;
}

.btn{
  @media (forced-colors){
    outline: 2px solid transparent;
    &:hover{
      outline-width: 5px;
    }
  }
  cursor: pointer;
  user-select: none;
  display: inline-grid;
  place-items: center;
  background: $primary;
  border: none;
  border-radius: 100vmax;
  color: #fff;
  font-size: .65625rem;
  @media (min-width: $bp2){ font-size: .9375rem; }
  font-weight: 700;
  transition: .15s;
  padding-block: .65625rem;
  padding-inline: 1.3125rem;
  @media (min-width: $bp2){
    padding-block: .9375rem;
    padding-inline: 1.875rem;
  }
  &:hover{
    background: $btn_hover;
  }

  &.white{
    background: #fff;
    color: #000;
    &:hover{
      background: $btn_white_hover;
    }
  }

  &.disabled{
    opacity: .35;
    pointer-events: none;
  }

  // loader
  div{
    aspect-ratio: 1/1;
    height: 80%;
    border-radius: 50%;
    border: .2rem solid transparent;
    border-top-color: #fff;
    border-left-color: #fff;
    @keyframes loading {
      from{ transform: rotate(0deg); }
      to{ transform: rotate(360deg); }
    }
    animation: 1s loading linear infinite;
  }
}

.skip{
  &:not(:focus){
    opacity: 0;
    pointer-events: none;
  }
  position: absolute;
  z-index: 999;
  background: #222;
  font-size: 1rem;
  color: #fff;
  font-weight: 900;
  border-radius: 100vmax;
  padding-block: .8rem;
  padding-inline: 1.5rem;
}