// Manjari
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap');

// Gordita
@font-face {
  font-family: "Gordita";
  src: url('/fonts/Gordita/Gordita\ Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: "Gordita";
  src: url('/fonts/Gordita/Gordita\ Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: "Gordita";
  src: url('/fonts/Gordita/Gordita\ Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: "Gordita";
  src: url('/fonts/Gordita/Gordita\ Ultra.otf');
  font-weight: 900;
}