.logo{
  font-family: 'Manjari', sans-serif;
  text-align: center;
  color: $primary;
  font-weight: 700;
  letter-spacing: .1rem;
  div{
    font-family: inherit;
    &:first-child{
      font-size: 2.1rem;
      margin-block-end: -0.5rem;
    }
    &:last-child{
      font-size: .7rem;
      text-transform: uppercase;
    }
  }
}